@import "../colors";
@import "../font-sizing";

.ReviewBox {
  padding: 2.4rem 3.2rem;
  background-color: var(--text-color);

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    color : $black;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    margin-bottom: 2.4rem;
  }

  &__copy {
    color : $black;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    font-style: italic;
  }
}