@import '../font-sizing';
@import '../mixins';

.Title {
  &__heading {
    font-family: Gotu, serif;
    font-weight: $font-weight-regular;
    color: var(--page-primary-color);

    &--64 {
      font-size: $font-size-h1;

      @include media-md {
        font-size: $font-size-h2;
      }
    }

    &--42 {
      font-size: $font-size-h2;

      @include media-md {
        font-size: $font-size-h2s;
      }
    }

    &--20 {
      font-size: $font-size-h3;
    }
  }

  &__secondary {
    font-weight: $font-weight-light;
    margin-top: 3.2rem;
    color: var(--text-color);

    &--20 {
      font-size: $font-size-h3;
    }

    &--18 {
      font-size: $font-size-regular;
      line-height: 2.8rem;

      @include media-md {
        font-size: $font-size-sm;
        line-height: 2.4rem;
      }
    }
  }
}
