@import '../screen-sizing';

.hidden {
  &--to-lg {
    @media (min-width: $screen-lg + 1) {
      display: none !important;
    }
  }

  &--to-md {
    @media (min-width: $screen-md + 1) {
      display: none !important;
    }
  }

  &--to-sm {
    @media (min-width: $screen-sm + 1) {
      display: none !important;
    }
  }

  &--from-lg {
    @media (max-width: $screen-lg) {
      display: none !important;
    }
  }

  &--from-md {
    @media (max-width: $screen-md) {
      display: none !important;
    }
  }

  &--from-sm {
    @media (max-width: $screen-sm) {
      display: none !important;
    }
  }
}
