.hidden {
  &--to-lg {
    @media (min-width : $lg-max + 1) {
      display: none !important;
    }
  }
  
  &--to-md {
    @media (min-width : $md-max + 1) {
      display: none !important;
    }
  }
  
  &--to-sm {
    @media (min-width : $sm-max + 1) {
      display: none !important;
    }
  }
  
  &--to-xs {
    @media (min-width : $xs-max + 1) {
      display: none !important;
    }
  }
  
  &--from-lg {
    @media (max-width : $lg-max) {
      display: none !important;
    }
  }
  
  &--from-md {
    @media (max-width : $md-max) {
      display: none !important;
    }
  }
  
  &--from-sm {
    @media (max-width : $sm-max) {
      display: none !important;
    }
  }
  
  &--from-xs {
    @media (max-width : $xs-max) {
      display: none !important;
    }
  }
}