$font-size-h1: 6.4rem;
$font-size-h2: 4.2rem;
$font-size-h2s: 3.2rem;
$font-size-h3: 2rem;
$font-size-regular: 1.8rem;
$font-size-sm: 1.6rem;
$font-size-xs: 1.4rem;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
