@import 'colors';
@import 'variables';
@import 'font-sizing';
@import 'utils/utils';
@import 'mixins';
@import 'vendor/flexboxgrid';
@import "screen-sizing";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Mulish, serif;
  scroll-behavior: smooth;
  height: 100%;
  font-size: 65%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  background-color: var(--page-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2560px;
  margin-top: 9.6rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  max-width: 136.8rem;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  @include media-xl {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include media-md {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  padding-left: 9.6rem;
  padding-right: 9.6rem;
}

img {
  height: auto;
  max-width: 100%;
}

.py-{
  &48 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}
