@import 'colors';

:root,
:host {
  --page-accent-color: #{$orange};
  --page-primary-color: #{$beige};
  --page-secondary-color: #{$light-beige};
  --text-color: #{$white};
  --text-color-dark: #{$black};
  --page-bg-color: #{$black-02};
}
